@page
@model sonorous.Pages.Admin.Discount.IndexModel
@using sonorous.Core.Convertors;
@{
    ViewData["Title"] = "Index";
}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">لیست کد ها</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                لیست کد ها
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="table-responsive">
                    <div id="dataTables-example_wrapper" class="dataTables_wrapper form-inline" role="grid">

                        <div class="col-md-12" style="margin:10px 0;">
                            <a asp-page="CreateDiscount" class="btn btn-outline btn-success">افزودن کد جدید</a>
                        </div>
                        <table class="table table-striped table-bordered table-hover dataTable no-footer" id="dataTables-example" aria-describedby="dataTables-example_info">
                            <thead>
                                <tr>
                                    <th>نام کد </th>
                                    <th>تعداد </th>
                                    <th>درصد </th>
                                    <th>تاریخ شروع </th>
                                    <th>تاریخ پایان </th>
                                    <th>دستورات</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var code in Model.Discounts)
                                {
                                    <tr>
                                        <td>@code.Discountcode</td>
                                        <td>@code.UsableCount</td>
                                        <td>@code.DiscountPercent</td>
                                        <td>@((code.StartDate!=null)?code.StartDate.Value.toshamsi():"")</td>
                                        <td>@((code.EndDate!=null)?code.EndDate.Value.toshamsi():"")</td>
                                        <td>
                                            <a href="/Admin/Discount/EditDiscount/@code.DiscountID" class="btn btn-warning">ویرایش</a>
                                            <a href="/Admin/Discount/DeleteDiscount/@code.DiscountID" class="btn btn-danger">حذف</a>

                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>
