@page "{id}"
@model sonorous.Pages.Admin.Users.RestoreUserModel
@using sonorous.Core.Convertors;
@{
    ViewData["Title"] = "RestoreUser";
}

    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                بازیابی کاربر
            </div>
            <div class="panel-body">
                <form method="post">
                    <input type="hidden" name="UserID" value="@ViewData["UserID"].ToString()" />
                    <dl class="dl-horizontal">
                        <dt>نام کاربری :</dt>
                        <dd>@Model.InformationViewModel.Username</dd>
                        <dt>ایمیل :</dt>
                        <dd>@Model.InformationViewModel.Email</dd>
                        <dt>موجودی کیف :</dt>
                        <dd>@Model.InformationViewModel.Wallet</dd>
                        <dt>تاریخ عضویت :</dt>
                        <dd>@Model.InformationViewModel.RegisterDate.toshamsi()</dd>
                        <dt></dt>
                        <dd>
                            <input type="submit" value="بازیابی" class="btn btn-success" />
                        </dd>
                    </dl>
                </form>
            </div>

        </div>
    </div>

